<style></style>
<div class="m-3 card shadow-lg">
  <div class="card-header">
    <div class="row">
      <div class="col-md-7 mt-3">
        <span class="fs-5" *ngIf="IsAddSection">Add New Item</span>
        <span class="fs-5" *ngIf="!IsAddSection">Purchase Master</span>
      </div>
      <div class="text-end col-md-2" *ngIf="IsAddSection">
        <div class="form-floating">
          <input
            type="date"
            [(ngModel)]="PurchaseModelData.EffectiveDate"
            class="form-control"
          />
          <label for="floatingInput">Date</label>
        </div>
      </div>
      <div class="col-md-2 text-end" *ngIf="IsAddSection">
        <div class="form-floating">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.Terms"
            id="Terms"
            name="Terms"
          >
            <option></option>
            <option value="1">Credit</option>
            <option value="2">Cash</option>
          </select>
          <label for="floatingSelect">Terms</label>
        </div>
      </div>
      <div class="text-end" [ngClass]="!IsAddSection ? 'col-md-5' : 'col-md-1'">
        <button class="btn btn-outline-primary mt-2" (click)="AddBtnClick()">
          <span *ngIf="IsAddSection">Back</span>
          <span *ngIf="!IsAddSection">New</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="IsAddSection">
    <div class="row mt-2">
      <div class="col-md-4">
        <!-- <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="PartyName"
            name="PartyName"
            [(ngModel)]="PurchaseModelData.VenderId"
            placeholder="Party Name"
          />
          <label for="floatingInput">Party Name</label>
        </div> -->
        <div class="form-floating mb-3">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.VenderId"
            id="PartyName"
            (ngModelChange)="OnVendorChange()"
            name="PartyName"
          >
            <option value="0"></option>
            <option *ngFor="let item of VendorList" [value]="item['Id']">
              {{ item["Name"] }}
            </option>
          </select>
          <label for="PartyName">Party Name</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="Balance"
            name="Balance"
            [(ngModel)]="PurchaseModelData.Balance"
            placeholder="Balance"
          />
          <label for="floatingInput">Balance</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.ItemGroupId"
            (ngModelChange)="OnItemChange()"
            id="GroupName"
            name="GroupName"
          >
            <option value="0"></option>
            <option *ngFor="let item of GroupNameList" [value]="item['Id']">
              {{ item["Name"] }}
            </option>
          </select>
          <label for="PartyName">Group Name</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="text"
            readonly
            class="form-control"
            id="DesignNo"
            name="DesignNo"
            [(ngModel)]="PurchaseModelData.DesignNo"
            placeholder="DesignNo"
          />
          <label for="floatingInput">Design No.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="MainQty"
            name="MainQty"
            [(ngModel)]="PurchaseModelData.MainQty"
            placeholder="MainQty"
          />
          <label for="floatingInput">Main Qty.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="AltQty"
            name="AltQty"
            [(ngModel)]="PurchaseModelData.AltQty"
            placeholder="AltQty"
          />
          <label for="floatingInput">Alt Qty.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="Price"
            name="Price"
            (input)="OnInputChange()"
            [(ngModel)]="PurchaseModelData.Price"
            placeholder="Price"
          />
          <label for="floatingInput">Price</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="Per"
            name="Per"
            [(ngModel)]="PurchaseModelData.Per"
            placeholder="Per"
          />
          <label for="floatingInput">Per</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="BasicAmt"
            name="BasicAmt"
            [(ngModel)]="PurchaseModelData.BasicAmt"
            placeholder="BasicAmt"
          />
          <label for="floatingInput">Basic Amt</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="text"
            min="0"
            class="form-control"
            id="Discount"
            name="Discount"
            [(ngModel)]="PurchaseModelData.Discount"
            placeholder="Discount"
          />
          <label for="floatingInput">Dis. [%]</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="DiscountAmt"
            name="DiscountAmt"
            [(ngModel)]="PurchaseModelData.DiscountAmt"
            placeholder="DiscountAmt"
          />
          <label for="floatingInput">Dis Amt.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="TaxAmt"
            name="TaxAmt"
            [(ngModel)]="PurchaseModelData.TaxAmt"
            placeholder="TaxAmt"
          />
          <label for="floatingInput">Tax Amt.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="NetValue"
            name="NetValue"
            [(ngModel)]="PurchaseModelData.NetValue"
            placeholder="NetValue"
          />
          <label for="floatingInput">Net Value</label>
        </div>
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-outline-primary w-100 mt-2"
          (click)="OnAddBtnClick()"
        >
          Add
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <mat-table
          *ngIf="ItemDataSource && ItemDataSource.length > 0"
          [dataSource]="ItemDataSource"
          class="table-bordered w-100"
        >
          <ng-container matColumnDef="ItemName">
            <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.ItemName
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="DesignNo">
            <mat-header-cell *matHeaderCellDef>DesignNo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.DesignNo
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="MainQty">
            <mat-header-cell *matHeaderCellDef>MainQty</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.MainQty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="AltQty">
            <mat-header-cell *matHeaderCellDef>AltQty</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.AltQty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Free">
            <mat-header-cell *matHeaderCellDef>Free</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Free }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Price }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Per">
            <mat-header-cell *matHeaderCellDef>Per</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Per }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="BasicAmt">
            <mat-header-cell *matHeaderCellDef>BasicAmt</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.BasicAmt
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Discount">
            <mat-header-cell *matHeaderCellDef>Dis[%]</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.Discount
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="DiscountAmt">
            <mat-header-cell *matHeaderCellDef>DiscountAmt</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.DiscountAmt
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Tax">
            <mat-header-cell *matHeaderCellDef>Tax[%]</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Tax }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="TaxAmt">
            <mat-header-cell *matHeaderCellDef>TaxAmt</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.TaxAmt }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="NetValue">
            <mat-header-cell *matHeaderCellDef>NetValue</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.NetValue
            }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="!IsAddSection && PurchaseDataSource && PurchaseDataSource.length > 0">
    <div class="row mt-2">
      <div class="col-md-12">
        <mat-table [dataSource]="PurchaseDataSource" class="table table-bordered">
          <ng-container matColumnDef="VendorName">
            <mat-header-cell *matHeaderCellDef>Vendor Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.vendorname }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="ItemName">
            <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.itemname }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="PurchaseDate">
            <mat-header-cell *matHeaderCellDef>Purchase Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.purchasedate | date: "dd/MMM/yyyy" }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="MainQty">
            <mat-header-cell *matHeaderCellDef>Main Qty.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.mainqty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="AltQty">
            <mat-header-cell *matHeaderCellDef>Alt Qty.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.altqty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Per">
            <mat-header-cell *matHeaderCellDef>Per</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.per }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="BasicAmt">
            <mat-header-cell *matHeaderCellDef>Basic Amount</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.basicqty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Discount">
            <mat-header-cell *matHeaderCellDef>Discount [%]</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.discount }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="DiscountAmt">
            <mat-header-cell *matHeaderCellDef>Discount Amount</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.discountamt }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="TaxAmt">
            <mat-header-cell *matHeaderCellDef>Tax Amount</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.taxamt }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="NetValue">
            <mat-header-cell *matHeaderCellDef>Net Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.netvalue }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="colums"></mat-header-row>
          <mat-row *matRowDef="let row; columns: colums"></mat-row>
        </mat-table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-outline-primary" (click)="PrintScreen()">Print</button>
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="IsAddSection">
    <div class="text-end">
      <button class="btn btn-outline-primary" (click)="AddNewRecord()">
        Save Changes
      </button>
    </div>
  </div>
</div>
