<div class="m-3 card shadow-lg">
  <div class="card-header">
    <div class="row">
      <div class="col-md-4 mt-3">Purchase</div>
      <div class="text-end col-md-4">
        <div class="form-floating">
          <input type="date" class="form-control" />
          <label for="floatingInput">Date</label>
        </div>
      </div>
      <div class="col-md-4 text-end">
        <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
            >
              <option></option>
              <option value="1">abc</option>
              <option value="2">xyz</option>
            </select>
            <label for="floatingSelect">Select Company Name</label>
          </div>
      </div>
    </div>
  </div>
  <div class="card-body"></div>
</div>
