<style>

</style>
<div class="m-3 card shadow-lg">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8 mt-3 fs-5">Purchase Master</div>
      <div class="text-end col-md-2">
        <div class="form-floating">
          <input
            type="date"
            [(ngModel)]="PurchaseModelData.EffectiveDate"
            class="form-control"
          />
          <label for="floatingInput">Date</label>
        </div>
      </div>
      <div class="col-md-2 text-end">
        <div class="form-floating">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.Terms"
            id="Terms"
            name="Terms"
          >
            <option></option>
            <option value="1">Credit</option>
            <option value="2">Cash</option>
          </select>
          <label for="floatingSelect">Terms</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row mt-2">
      <div class="col-md-6">
        <!-- <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="PartyName"
            name="PartyName"
            [(ngModel)]="PurchaseModelData.VenderId"
            placeholder="Party Name"
          />
          <label for="floatingInput">Party Name</label>
        </div> -->
        <div class="form-floating mb-3">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.VenderId"
            id="PartyName"
            name="PartyName"
          >
          <option value="0"></option>
            <option *ngFor="let item of VendorList" [value]="item['Id']">
              {{ item["Name"] }}
            </option>
          </select>
          <label for="PartyName">Party Name</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.Series"
            id="Series"
            name="Series"
          >
            <option></option>
            <option>Purchase</option>
            <option>Sales</option>
          </select>
          <label for="floatingSelect">Series</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngIf="false">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="BillNo"
            name="BillNo"
            [(ngModel)]="PurchaseModelData.BillNo"
            placeholder="Bill No."
          />
          <label for="floatingInput">Bill No.</label>
        </div>
      </div>
      <div class="col-md-3" *ngIf="false">
        <div class="form-floating">
          <input
            type="date"
            [(ngModel)]="PurchaseModelData.DueDate"
            class="form-control"
          />
          <label for="floatingInput">Due Date</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="Balance"
            name="Balance"
            [(ngModel)]="PurchaseModelData.Balance"
            placeholder="Balance"
          />
          <label for="floatingInput">Balance</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            [(ngModel)]="PurchaseModelData.ItemId"
            (ngModelChange)="OnItemChange()"
            id="ItemName"
            name="ItemName"
          >
          <option value="0"></option>
            <option *ngFor="let item of ItemList" [value]="item['Id']">
              {{ item["Name"] }}
            </option>
          </select>
          <label for="PartyName">Item Name</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="MainQty"
            name="MainQty"
            [(ngModel)]="PurchaseModelData.MainQty"
            placeholder="MainQty"
          />
          <label for="floatingInput">Main Qty.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="AltQty"
            name="AltQty"
            [(ngModel)]="PurchaseModelData.AltQty"
            placeholder="AltQty"
          />
          <label for="floatingInput">Alt Qty.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="Price"
            name="Price"
            [(ngModel)]="PurchaseModelData.Price"
            placeholder="Price"
          />
          <label for="floatingInput">Price</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <select [(ngModel)]="PurchaseModelData.Per" class="form-select" id="per" name="per">
            <option></option>
            <option>Purchase</option>
            <option>Sales</option>
          </select>
          <label for="floatingSelect">per</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="BasicAmt"
            name="BasicAmt"
            [(ngModel)]="PurchaseModelData.BasicAmt"
            placeholder="BasicAmt"
          />
          <label for="floatingInput">Basic Amt</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="text"
            min="0"
            class="form-control"
            id="Discount"
            name="Discount"
            [(ngModel)]="PurchaseModelData.Discount"
            placeholder="Discount"
          />
          <label for="floatingInput">Dis. [%]</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="DiscountAmt"
            name="DiscountAmt"
            [(ngModel)]="PurchaseModelData.DiscountAmt"
            placeholder="DiscountAmt"
          />
          <label for="floatingInput">Dis Amt.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="TaxAmt"
            name="TaxAmt"
            [(ngModel)]="PurchaseModelData.TaxAmt"
            placeholder="TaxAmt"
          />
          <label for="floatingInput">Tax Amt.</label>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-floating mb-3">
          <input
            type="number"
            min="0"
            class="form-control"
            id="NetValue"
            name="NetValue"
            [(ngModel)]="PurchaseModelData.NetValue"
            placeholder="NetValue"
          />
          <label for="floatingInput">Net Value</label>
        </div>
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-outline-primary w-100 mt-2"
          (click)="OnAddBtnClick()"
        >
          Add
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <mat-table
        *ngIf="ItemDataSource && ItemDataSource.length > 0"
          [dataSource]="ItemDataSource"
          class="table-bordered w-100"
        *ngIf="ItemDataSource && ItemDataSource.length > 0">
          <ng-container matColumnDef="ItemName">
            <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.ItemName
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Batch">
            <mat-header-cell *matHeaderCellDef>Batch</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Batch }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="MainQty">
            <mat-header-cell *matHeaderCellDef>MainQty</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.MainQty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="AltQty">
            <mat-header-cell *matHeaderCellDef>AltQty</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.AltQty }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Free">
            <mat-header-cell *matHeaderCellDef>Free</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Free }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Price }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Per">
            <mat-header-cell *matHeaderCellDef>Per</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Per }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="BasicAmt">
            <mat-header-cell *matHeaderCellDef>BasicAmt</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.BasicAmt
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Discount">
            <mat-header-cell *matHeaderCellDef>Dis[%]</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.Discount
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="DiscountAmt">
            <mat-header-cell *matHeaderCellDef>DiscountAmt</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.DiscountAmt
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Tax">
            <mat-header-cell *matHeaderCellDef>Tax[%]</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Tax }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="TaxAmt">
            <mat-header-cell *matHeaderCellDef>TaxAmt</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.TaxAmt }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="NetValue">
            <mat-header-cell *matHeaderCellDef>NetValue</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.NetValue
            }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-end">
      <button class="btn btn-outline-primary" (click)="AddNewRecord()">Save Changes</button>
    </div>
  </div>
</div>
