<div class="m-3 card shadow-lg">
    <div class="card-header">
        Add Opening Balance 
    </div>
    <div class="card-body">
      <div class="mx-3 my-2">
        <div class="row">
          <div class="col-md-5">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Name"
              />
              <label for="floatingInput">Name</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Opening Balance"
              />
              <label for="floatingInput">Opening Balance</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-floating mb-3">
              <select class="form-select" id="floatingSelect">
                    <option></option>
                    <option value="1">DR</option>
                    <option value="2">CR</option>
                  </select>
                  <label for="floatingSelect">Payment</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-floating mb-3">
              
            </div>
          </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-end">
            <button class="btn btn-primary" style="width: 10%;">Save</button>
        </div>
    </div>
  </div>
  