<div class="m-3 card shadow-lg">
  <div class="card-header">
    <div class="row fs-5">
      <div class="col-md-10 mt-2">
        <span *ngIf="IsAddSection">Add New Item</span>
        <span *ngIf="!IsAddSection">Item Master</span>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-outline-primary" (click)="AddBtnClick()">
          <span *ngIf="IsAddSection">Back</span>
          <span *ngIf="!IsAddSection">New</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ng-template [ngIf]="IsAddSection">
      <div class="mx-3 my-2">
        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="number" min="0" class="form-control"
                id="Thickness" name="Thickness"
                [(ngModel)]="ItemMasterData.Thickness" placeholder="Thickness"/>
              <label for="floatingInput">Thickness</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="number" min="0" class="form-control"
                id="DesignNoId" name="DesignNo" [(ngModel)]="ItemMasterData.DesignNo"/>
              <label for="floatingInput">Design No.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control"
                id="ShortNameId" name="ShortName"
                [(ngModel)]="ItemMasterData.ShortName"
                placeholder="Short Name"
              />
              <label for="floatingInput">Short Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <select class="form-select" [(ngModel)]="ItemMasterData.ItemGroupId" name="ItemGroup" id="ItemGroupId">
                <option></option>
                <option *ngFor="let item of GroupNameList" [value]="item['Id']">
                  {{ item["Name"] }}
                </option>
              </select>
              <label for="floatingSelect">Item Group</label>
            </div>
          </div>
          <div class="col-md-1 mt-2">
            <i class="bi bi-plus-circle fs-3 text-success" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" (click)="OpenDialog()"></i>
            <i class="bi bi-pencil-square mx-3 fs-3 text-primary"></i>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <select class="form-select" name="ItemUnit" [(ngModel)]="ItemMasterData.ItemUnit" id="ItemUnitId">
                <option></option>
                <option value="SQ FT">SQ FT</option>
                <option value="Piece">Piece</option>
              </select>
              <label for="floatingSelect">Primary Unit</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="number" min="0" class="form-control"
                id="floatingInput" placeholder="Item Unit Per Rate" [(ngModel)]="ItemMasterData.ItemUnitPerRate"/>
              <label for="floatingInput">Item Unit Per Rate</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input
              type="number" min="0" class="form-control"
                id="floatingInput" placeholder="Stock Qty" [(ngModel)]="ItemMasterData.StockQty"/>
              <label for="floatingInput">Stock Qty</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input
                type="number" min="0"
                class="form-control"
                id="TaxSlabId"
                name="TaxSlab"
                [(ngModel)]="ItemMasterData.TaxSlab"
                placeholder="Tax Slab"
              />
              <label for="floatingInput">Tax Slab</label>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input
              type="number" min="0"
                class="form-control"
                id="Discount" name="Discount"
                [(ngModel)]="ItemMasterData.Discount"
                placeholder="Discount"
              />
              <label for="floatingInput">Discount [%]</label>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="!IsAddSection">
      <mat-table class="table table-responsive-lg" [dataSource]="ItemsDataSource">
        <ng-container matColumnDef="ItemName">
          <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.ItemName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ShortName">
          <mat-header-cell *matHeaderCellDef>Short Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.ShortName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GroupName">
          <mat-header-cell *matHeaderCellDef>Item Group Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.ItemGroupName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Thickness">
          <mat-header-cell *matHeaderCellDef>Thickness</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Thickness }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="DesignNo">
          <mat-header-cell *matHeaderCellDef>Design No</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.DesignNo }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="StockQty">
          <mat-header-cell *matHeaderCellDef>Stock Qty</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.StockQty }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="colums"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colums"></mat-row>
      </mat-table>
    </ng-template>
  </div>
  <div class="card-footer">
    <div class="text-end">
      <button class="btn btn-primary" style="width: 10%" (click)="OnItemSave()">Save</button>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white fw-bold">
        <h5 class="modal-title fs-4 " id="exampleModalLongTitle">Add New Group Name</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="GroupName" [(ngModel)]="GroupName"
              />
              <label for="floatingInput">Group Name</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getGroupNameList()">Close</button>
        <button type="button" class="btn btn-primary" (click)="OnModalSave()">Save</button>
      </div>
    </div>
  </div>
</div>

