<div class="m-3 card shadow-lg">
    <div class="card-header">
        <span class="fs-5"> Product Master </span>
    </div>
    <div class="card-body">
        <div class="mt-3 row">
            <div class="col-lg-12">
                <div class="form-floating">
                    <select
                      class="form-select"
                      id="CustomerName"
                      name="CustomerName"
                      aria-label="Floating label select example"
                    >
                      <option></option>
                    </select>
                    <label for="floatingSelect">CustomerName</label>
                  </div>
            </div>
        </div>
    </div>
</div>