<div class="m-3 card shadow-lg">
  <div class="card-header">
    <span class="fs-5"> Product Master </span>
  </div>
  <div class="card-body" id="printsection">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="CustomerName"
            name="CustomerName"
            aria-label="Floating label select example"
          >
            <option></option>
          </select>
          <label for="floatingSelect">CustomerName</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-floating mb-3">
          <input
            type="text"
            min="0"
            class="form-control"
            id="BillNo"
            name="BillNo"
            placeholder="BillNo"
          />
          <label for="floatingInput">Bill No.</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-floating mb-3">
          <input type="date" id="date" name="date" class="form-control" />
          <label for="floatingInput">Date</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">

        <!-- <div *ngFor="let col of columns">
          {{col}}
        </div> -->

        <mat-table [dataSource]="MatProductDataSource">

          <ng-container *ngFor="let col of columns" matColumnDef="{{col}}">
            <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element[col]
            }}</mat-cell>  
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns;"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;"></mat-row>
          
        </mat-table>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <button class="btn btn-outline-primary" (click)="PrintData()">
          Print
        </button>
      </div>
    </div>
  </div>
</div>
