
<nav class="navbar navbar-expand-lg navbar-light bg-info" *ngIf='CM.GetItemFromLocalStorage("CompanyId") && CM.GetItemFromLocalStorage("CompanyId") > "0"'>
    <div class="container-fluid">
      <a class="navbar-brand me-lg-5 text-white fw-bold" href="#">Company Name</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [routerLink]="['/item']">Item Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [routerLink]="['/vendor']">Vendor Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [routerLink]="['/customer']">Customer Master</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [routerLink]="['/bank']">Bank Master</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/purchase']" href="#">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" [routerLink]="['/sales']">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" [routerLink]="['/stockreport']">Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [routerLink]="['/bill']">Bill</a>
          </li>
        </ul>
        <form class="d-flex mx-2">
          <button class="btn btn-primary text-white" (click)="OnLogout()" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>